@font-face{
  font-family:'digital-clock-font';
  src: url('digital-7.regular.ttf');
}

@font-face{
  src: url('FrizQuadrata-Bold.otf');
  font-family: 'frizquadrata-bold-font';
}

body {
  background-color: black;
  color: white;
  padding: 0;
  text-align: center;
}

a {
  color: white;
  text-align: center;
  &:focus,
  &:hover {
    color: red;
    text-decoration: none;
  }
}

p {
  font-size: 40px;
  font-family:'digital-clock-font';
  padding-bottom: 30px;
}

img {
  padding: 5%;
}

.navbar {
  margin-top: 0;
  position: sticky;
  letter-spacing: 5px;
  font-family:'digital-clock-font';
  font-size: 30px;
  color: #232223;
}

.btn {
  vertical-align: middle;
}

h3 {
  margin-top: 100px;
  font-family:'';
  font-size: 80px;
  font-family: 'frizquadrata-bold-font';
}
