@font-face{
  font-family:'digital-clock-font';
  src: url('digital-7.regular.ttf');
}

@font-face{
  src: url('FrizQuadrata-Bold.otf');
  font-family: 'frizquadrata-bold-font';
}

img {
  width: 100%;
  height: auto;
  max-width: 1200px;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.icon-left .img-highrider {
  width: 20%;
}

body {
  background-color: black;
  color: white;
  padding: 0;
  text-align: center;
}

a, .navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  &:focus,
  &:hover {
    color: red;
    text-decoration: none;
  }
}

#news {
  padding: 50px 250px 50px 250px;
  text-align: justify;
  font-family: 'Khand', sans-serif;
  font-size: 23px;
  margin-left: auto;
}

.welcome {
  font-size: 40px;
  font-family:'digital-clock-font';
  padding: 55px;
  text-align: center;
}

.icon-left .img-highrider {
  max-width: 154px;
}

.navbar {
  background-color: black;
  width: 100%;
  margin-top: 0;
  position: sticky;
  letter-spacing: 5px;
  font-family:'digital-clock-font';
  font-size: 15px;
  color: white;
}

h4 {
  font-size: 40px;
  font-family: 'Khand', sans-serif;
  margin-top: 60px;
}

h5 {
  font-size: 30px;
  font-family: 'Khand', sans-serif;
}

h6 {
  font-family: 'Khand', sans-serif;
  font-size: 20px;
}

// .side {
//     flex: 30%;
//     background-color: black;
//     padding: 20px;
// }

.main {
  flex: 70%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0%;
}

.fakeimg {
  background-color: #aaa;
  width: 50%;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
 }

 @media only screen and (min-width: 992px) {
  #news {
    padding: 50px 365px 50px 365px;
  }
}
