<div class="footer">
  
  <a href="http://thesignrecords.com/?p=48" target="_blank">
    <img class="label" src="../images/thesignrecords.png" style="padding: 5%; width: 20%;">
  </a>
   
    <div id="media">
      <span style="font-size: 2em; color: red;">
        <a href="https://www.facebook.com/highriderofdoom" target="_blank" class="fab fa-facebook-square"></a>
      </span>
      <span style="font-size: 2em; color: red;">
        <a href="https://www.instagram.com/highriderofdoom" target="_blank" class="fab fa-instagram"></a>
      </span> 
      <span style="font-size: 2em; color: red;">
        <a href="https://www.youtube.com/watch?v=5HEw-qZDm50" target="_blank" class="fab fa-youtube"></a>
      </span>  
      <span style="font-size: 2em; color: red;">
        <a href="https://open.spotify.com/artist/1Ev2QFjQTMQlEHrqfJu6VJ" target="_blank" class="fab fa-spotify"></a>
      </span>
    </div>

    <p style="padding:2%;">Copyright © 2018 Highrider </p>
</div>