<body>
  <div class="album-cover">
    <img class="image" id="album-cover" src="../images/roll_for_initiative.jpg">
  </div>
  <p class="welcome">
    <%= link_to 'Album Out Now! &nbsp; &nbsp; Enter Armageddon', '/news.html' %>
  </p>
</body>
