---
title: HIGHRIDER - Official
---
<body>
  <div>
    <img src="https://f4.bcbits.com/img/a3077527216_10.jpg" /></br>
  </div>
  <p>
    <a href="home.html.erb" >Album Out Now! Enter Armageddon</a>
  </p>
</body>
