<%= partial 'partials/navbar' %>
<img src="../images/forest.jpeg" style="width: 100%;">
<div class="row">
  <div class="main-container" id="main">
    <div class="container-1" id="post-title">
      <h5>THE GOTHENBURG SOUND: DEAD OR ALIVE?</h5>
      <h6>July 7, 2018</h6>
    </div> 
      <div class="fakeimg" style="height:400px; background-image: url('http://www.goteborgnonstop.se/wp-content/uploads/2013/04/Trucken1.jpg');"></div>
      <p id="news">
      Gothenburg is known for being the second largest city in Sweden and the busiest harbor of the Country, true. But it is also well-known across Europe and the entire world for being the metal Mecca in Northern Europe with its blooming and diverse alternative music scene.   Have you ever heard of the Gothenburg Sound? 
      Born in the late 80s, early 90s, Melodic Death Metal ofter referred to as Gothenburg Sound ,is a subgenre of death metal that employs highly melodic guitar riffs, often borrowing from traditional heavy metal.
      </br> Local bands like At The Gates, Dark Tranquillity and In Flames were pioneer who made history back in the days, but what happened since then and what’s left of the melodeath scene?   In nearly twenty years things have massively changed, the genre evolved and merged other sounds like black metal, post-hardcore, doom and sludge into it, making the city of Gothenburg still the music hub of Scandinavia, where old well-known as young emerging metal bands are still well present in the beloved and praised nordic metal scene.</br> In fact, don’t be surprised to casually meet at the bar living Gods of metal like Tompa and Martin Larsson (who runs Truckstop Alaska, the most popular svartklubbed in town) from At The Gates for example,  real institutions in the scene and world-famous artists, but still with their feet on the ground, acting as they were still kids playing fast riffs in a suburban garage back in the 90s.  Kick-ass!
      Visiting Gothenburg and longing for a real, rough and raw gig night? Highly recommended is a stop-over at The Abyss, in Andra Lång, maybe after a massive venial records haul at Bengans Record Store, in Stigbergstorget.
      <br>
    <div class="container-1" id="post-title">
      <h5 >TITLE HEADING</h5>
      <h6>Title description, Dec 7, 2017</h6>
    </div> 
      <div class="fakeimg" style="height:200px;">Image</div>
      <p id="news">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      <br>
</div>

<%= partial 'partials/footer' %>
