<%= partial 'partials/navbar' %>
   <div class="grid-container">
    <div class="grid-item">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51GR5-dm9fL._AC_US218_.jpg">
      <h6 class="product-name" style="padding-top: 20px;">Roll For Initiative | Album</h6>
      <a href="https://freighttrain.se/sok/highrider" target="_blank"  class="product-name" style="padding-top: 20px;" >▻ Sweden</a></br>
      <a href="https://www.amazon.com/s/ref=dp_byline_sr_music_1?ie=UTF8&field-artist=Highrider&search-alias=music" target="_blank"  class="product-name" style="padding-top: 20px;" >▻ Rest of the World </a>
    </div>
    <div class="grid-item">
      <img src="https://images-na.ssl-images-amazon.com/images/I/61syq7G+QyL._AC_US218_.jpg">
      <h6 class="product-name" style="padding-top: 20px;">Armageddon Rock | Album</h6>
      <a href="https://freighttrain.se/sok/highrider" target="_blank"  class="product-name" style="padding-top: 20px;" >▻ Sweden</a></br>
      <a href="https://www.amazon.com/s/ref=dp_byline_sr_music_1?ie=UTF8&field-artist=Highrider&search-alias=music" target="_blank"  class="product-name" style="padding-top: 20px;" >▻ Rest of the World </a>
    </div>
    <div class="grid-item">
      <img src="https://assets.bigcartel.com/product_images/206909153/20171106_000037.jpg?auto=format&fit=max&h=600&w=600" style="width: 230px; height: 230px">
      <h6 class="product-name" style="padding-top: 20px;">Roll For Initiative | T-Shirt</h6>
      <a href="https://highriderofdoom.bigcartel.com/" target="_blank"  class="product-name" style="padding-top: 20px;" >▻ Sweden</a></br>
      <a href="https://highriderofdoom.bigcartel.com/" target="_blank"  class="product-name" style="padding-top: 20px;" >▻ Rest of the World </a>
    </div>
  </div>
<%= partial 'partials/footer' %>