<%= partial 'partials/navbar' %>

<table class="ShowTable">
  <tbody>
    <tr>
    <h5 class="show-year"> 2018 </h5>
    </tr>
    <tr>
      <td>Date</td>
      <td>City</td>
      <td>Venue</td>
      <td><a class="btn btn-dark" href="https://www.ticketmaster.se/" target="_blank" role="button">Tickets</a></td>
    </tr>
    <tr>
      <td>Date</td>
      <td>City</td>
      <td>Venue</td>
      <td><a class="btn btn-dark" href="https://www.ticketmaster.se/" target="_blank" role="button">Tickets</a></td> 
    </tr>
    <tr>
      <td>Date</td>
      <td>City</td>
      <td>Venue</td>
      <td><a class="btn btn-dark" href="https://www.ticketmaster.se/" target="_blank" role="button">Tickets</a></td>
    </tr>
    <tr>
      <td>Date</td>
      <td>City</td>
      <td>Venue</td>
      <td><a class="btn btn-dark" href="https://www.ticketmaster.se/" target="_blank" role="button">Tickets</a></td>
    </tr>
  </tbody>
</table>

<table class="ShowTable">
  <tbody>
    <tr>
    <h5 class="show-year"> 2017 </h5>
    </tr>
    <tr>
      <td>Date</td>
      <td>City</td>
      <td>Venue</td>
      <td></td>
    </tr>
    <tr>
      <td>Date</td>
      <td>City</td>
      <td>Venue</td>
      <td></td>
    </tr>
    <tr>
      <td>Date</td>
      <td>City</td>
      <td>Venue</td>
      <td></td>
    </tr>
  </tbody>
</table>


