<%= partial 'partials/navbar' %>
<img src="https://images.unsplash.com/photo-1507405423760-32445c333b52?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=57066278b299e47f7b839757df165831&auto=format&fit=crop&w=1457&q=80" style="width:50%; height: 50%;">

<div style="padding-top: 10px; color: #BC1302;">
  <p style="font-size: 50px; font-family: digital-clock-font;">ROLL FOR INITIATIVE TOUR</p>
</div> 

<table class="ShowTable">
  <tbody>
    <tr>
    <h5 class="show-year"> 2018 </h5>
    </tr>
    <tr>
      <td>SEPT 29</td>
      <td>GÖTEBORG</td>
      <td>TRUCKSTOP ALASKA</td>
      <td><a class="btn btn-dark" href="https://www.ticketmaster.se/" target="_blank" role="button">Tickets</a></td>
    </tr>
    <tr>
      <td>OCT 13</td>
      <td>GÖTEBORG</td>
      <td>THE ABYSS</td>
      <td><a class="btn btn-dark" href="https://www.ticketmaster.se/" target="_blank" role="button">Tickets</a></td> 
    </tr>
    <tr>
      <td>OCT 30</td>
      <td>STOCKHOLM</td>
      <td>DEBASER</td>
      <td><a class="btn btn-dark" href="https://www.ticketmaster.se/" target="_blank" role="button">Tickets</a></td>
    </tr>
    <tr>
      <td>NOV 2</td>
      <td>MALMÖ</td>
      <td>KB</td>
      <td><a class="btn btn-dark" href="https://www.ticketmaster.se/" target="_blank" role="button">Tickets</a></td>
    </tr>
  </tbody>
</table>

<div style="padding-top: 80px; color: #BC1302;">
  <p style="font-size: 30px; font-family: digital-clock-font;">PAST TOURS</p>
</div> 
<table class="ShowTable">
  <tbody>
    <tr>
    <h5 class="show-year" style="margin-top: 0px;"> 2017 </h5>
    </tr>
    <tr>
      <td>SEPT 15</td>
      <td>GÖTEBORG</td>
      <td>BLACKBIRD</td>
      <td></td>
    </tr>
    <tr>
      <td>OCT 26</td>
      <td>GÖTEBORG</td>
      <td>THE ABYSS</td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= partial 'partials/footer' %>



